<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Articles</h1>
        <nav class="menu-bar">
            <ul>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                
                <li><a href="{{ url_for('admin') }}">Back to Home</a></li>

            </ul>
            
        </nav>
    </header>

    <a href="{{ url_for('add_post') }}" class="content-link">  
      <p>Start writing amazing content!
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
          </svg> <br>

    <main>
        <ul>
            {% for post in posts %}
            <li class="post">
                <a href="{{ url_for('post_detail', id=post.id) }}">{{ post.title }}</a>
                <p>{{post.content[:100]}}...</p>
                <div class="post-actions">
                    <button><a href="{{ url_for('post_detail', id=post.id) }}">View</a> </button>
<!--       
                      <a href="#" class="icon"><i class="fas fa-thumbs-up"></i> Like</a>
                      <a href="#" class="icon"><i class="fas fa-comment"></i> Comment</a>
                      <a href="#" class="icon"><i class="fas fa-share"></i> Share</a>
                   -->
                </div>
            </li>
            {% endfor %}
        </ul>
        
    </main>
   
       
   
</body>
</html>
