<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        
            <ul class="menu-bar">
                
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            </ul>

                <nav>
                    <h1>Welcome to Your Blog</h1>
          
        </nav>

        
        <a href="{{ url_for('login') }}" class="content-link">  
            <p>Start writing amazing content!
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                </svg> <br>
                          <main>
                    <article class="post">
                        <h2>Title of Post 1</h2>
                        <p>This is the content of Post 1.</p>
                        <div class="social-icons">
                            <a href="#" class="icon"><i class="fas fa-thumbs-up"></i> Like</a>
                            <a href="#" class="icon"><i class="fas fa-comment"></i> Comment</a>
                            <a href="#" class="icon"><i class="fas fa-share"></i> Share</a>
                          </div>
                    </article>
            
                    <article class="post">
                        <h2>Title of Post 2</h2>
                        <p>This is the content of Post 2.</p>
                        <div class="social-icons">
                            <a href="#" class="icon"><i class="fas fa-thumbs-up"></i> Like</a>
                            <a href="#" class="icon"><i class="fas fa-comment"></i> Comment</a>
                            <a href="#" class="icon"><i class="fas fa-share"></i> Share</a>
                          </div>
                    </article>
            
                    <article class="post">
                        <h2>Title of Post 3</h2>
                        <p>This is the content of Post 3.</p>
                        <div class="social-icons">
                            <a href="#" class="icon"><i class="fas fa-thumbs-up"></i> Like</a>
                            <a href="#" class="icon"><i class="fas fa-comment"></i> Comment</a>
                            <a href="#" class="icon"><i class="fas fa-share"></i> Share</a>
                          </div>
                    </article>
            
                    <article class="post">
                        <h2>Title of Post 4</h2>
                        <p>This is the content of Post 4.</p>
                        <div class="social-icons">
                            <a href="#" class="icon"><i class="fas fa-thumbs-up"></i> Like</a>
                            <a href="#" class="icon"><i class="fas fa-comment"></i> Comment</a>
                            <a href="#" class="icon"><i class="fas fa-share"></i> Share</a>
                          </div>
                    </article>
            
                    <article class="post">
                        <h2>Title of Post 5</h2>
                        <p>This is the content of Post 5.</p>
                        <div class="social-icons">
                            <a href="#" class="icon"><i class="fas fa-thumbs-up"></i> Like</a>
                            <a href="#" class="icon"><i class="fas fa-comment"></i> Comment</a>
                            <a href="#" class="icon"><i class="fas fa-share"></i> Share</a>
                          </div>
                    </article>
                </main>
            

        <!-- <p>&copy; 2024 Your Blog</p> -->
    
   
</body>
</html>




 