

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <!-- <form method="POST" action="{{ url_for('login') }}">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="username">Username</label>
                {{ form.username(class="form-control", placeholder="Enter username") }}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                {{ form.password(class="form-control", placeholder="Enter password") }}
            </div>
          
             
            {{ form.submit(class="btn btn-primary") }}
        </form>  -->

        <form method="POST" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }} {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label }} {{ form.password(class="form-control") }}
            </div>
            <div class="form-group form-check">
                {{ form.remember_me(class="form-check-input") }} {{ form.remember_me.label(class="form-check-label") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
        <a href="{{ url_for('home') }}">Back to Home</a>
    </div>
</body>
</html>
